/* Magnification SVG on Images */
.magnifier {
	display: none;
}

/* Images */
.image-hydration-wrapper {
	padding-bottom: 0 !important;
}

/* Ads */
.swappable-mobile-ad-container,
.ad-mobile-dynamic,
.movable-ad {
	display: none;
}

/* Article asides */
.branded-item--kotaku,
.branded-item--kinja {
	display: none;
}
